@page
@model FastShop.Web.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FastShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/htmx/htmx.min.js"></script>
</head>
<body>
    <!-- Navigation-->
    <nav hx-get="/navigation" hx-trigger="load" class="navbar navbar-expand-lg navbar-light bg-light"> 
    </nav>
    <!-- Header-->
    <header hx-get="/header" hx-trigger="load" class="bg-dark py-5">
    </header>
    <!-- Section-->
    <section id="section" class="py-5">
        <div hx-get="/products" hx-trigger="load" class="container px-4 px-lg-5 mt-5">
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>